fastapi==0.110.0
uvicorn==0.35.0
sqlalchemy==2.0.41
pydantic==1.10.15
python-dotenv==1.1.1
pytest==8.4.1
pytest-asyncio==0.23.6
email-validator==2.2.0
httpx<0.28
mypy==1.16.1
slowapi==0.1.9
aiosqlite==0.21.0
aioodbc==0.5.0
